#!name=Loon Rule
#!desc=自用Loon规则
#!author=Cici
#!homepage=https://raw.githubusercontent.com/Cici1209/Loon
#!raw-url=http://raw.githubusercontent.com/Cici1209/Loon/refs/heads/main/Rule.snippet


DOMAIN,gdmf.apple.com,REJECT
DOMAIN,xp.apple.com,REJECT

DOMAIN,adsbdfs.heytapimage.com,REJECT
DOMAIN,adsfs.heytapimage.com,REJECT
